form {
	width: 20%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: #2f2f2f;
	padding: 20px;
	border-radius: 10px;
	height: 100vh;
	margin: 0 auto;
}

form input {
	width: 100%;
	height: 25px;
	padding-left: 5px;
}

.main_input_div {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.main_input_div_final_price {
	display: flex;
	gap: 5px;
}
.addBtn {
	height: 8%;
	border-radius: 10px;
	width: 100%;
	cursor: pointer;
}
